<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-TZ5KTX927T"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
      
        gtag('config', 'G-TZ5KTX927T');
      </script>
      <!-- Metas -->
      <meta charset="utf-8">
      <title>Athmakalin sangamam - Kolli Hills</title>
      <meta name="description" content="">
      <meta name="author" content="Codestormx">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Css -->
      <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
      <link href="css/main.css" rel="stylesheet" type="text/css" media="all" />
      <link href="css/venobox.css" rel="stylesheet" type="text/css" media="all" />
      <link href="css/fonts.css" rel="stylesheet" type="text/css" media="all" />
      <link href="css/owl-carousel/owl.carousel.css" rel="stylesheet"  media="all"/>
      <link href="css/owl-carousel/owl.theme.css" rel="stylesheet"  media="all" />
      <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,700" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700" rel="stylesheet">

      <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

<link rel="manifest" href="/site.webmanifest">

<link
rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
/>
   </head>
   <body>
      <div class="loader">
         <div class="loader-inner">
            <div class="bounce">
  <div class="bounce-one"></div>
  <div class="bounce-two"></div>
</div>
         </div>
      </div>
      <div id="wrapper" class="wrapper">
         <header class="header default">
            <div class="header-section">
               <div class="container-fluid ">
                  <nav class="navbar navbar-expand-lg header-navbar ml-0 ml-lg-5">
                     <a class=" navbar-brand navbar-logo scroll" href="#">
                     <img class="mb-0 logo-light" src="assets/img/Logo.png" height="100%" width="100%" alt="Logo">
                     <img class="mb-0 logo-dark" src="assets/img/Logo.png" height="100%" width="100%" alt="Logo">
                     </a>
                     <button class="navbar-toggler btn-navbar-toggler" type="button" data-toggle="collapse" data-target=".nav-menu" aria-expanded="true" aria-label="Toggle navigation">
                     <span class="fa fa-bars"></span>
                     </button>
                     <div class="nav-menu collapse navbar-collapse navbar-collapse justify-content-end mr-5 ">
                        <ul itemscope itemtype="http://www.schema.org/SiteNavigationElement" class=" navbar-nav  header-navbar-nav">
                           <li itemprop="name"><a itemprop="url" class=" nav-link scroll" href="#">Home</a></li>
                           <li itemprop="name"><a itemprop="url" class=" nav-link scroll" href="/history">About</a></li>
                           <li itemprop="name"><a itemprop="url" class=" nav-link" href="/#services">class</a></li>
                           <li itemprop="name"><a itemprop="url" class=" nav-link scroll" href="/gallery">Gallery</a></li>
                           <li itemprop="name"><a itemprop="url" class=" nav-link scroll" href="/media">Media</a></li>
                           <li itemprop="name"><a itemprop="url" class=" nav-link scroll" href="/blogs-ln=English">Articles</a></li>
                           <li itemprop="name"><a itemprop="url" class="nav-link scroll mb-3 mb-lg-0" href="/quotes">Quotes</a></li>
                        </ul>
                     </div>
                  </nav>
               </div>
            </div>
         </header>
         <section class="gradient-overlay gradient-overlay-dark">
            <img class="bg-image" src="assets/img/home_wallpaper.png" alt="Background image">
            <div class="container hero hero-responsive">
               <div class="row  align-items-center z-index-2 position-relative text-center">
                  <div class="col-12">
                     <h1 class="display-4  text-white mb-2">Athmakalin Sangamam</h1>
                     <p class="text-white font-weight-300 mb-5 ">Join with us to learn the different kind of meditation from Buddha’s ancient meditation to the mysterious Tibetian yoga which helps you lead a Happy and Blissful life altogether
                     </p>
                     <a href="#services" class="btn btn-secondary scroll animate__animated animate__fadeInUp animate__delay-1s" data-aos="fade-up">Make an Appointment</a>
                  </div>
               </div>
            </div>
            <div class="curved-decoration ">
               <div class="decoration-bottom bottom-n1">
                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    viewBox="0 0 800 43.2" enable-background="new 0 0 800 43.2;" xml:space="preserve">

<path fill="#f3f5f8" d="M0,43.1v-4.8c0,0,187.9-30,400-3S800,0,800,0v43.1H0z"/>
<path fill="#f3f5f8" opacity="0.3" d="M0,43V18.7c0,0,131.8-13.9,269.2,20.9C407.2,60,600.3-13.9,800,27.8V43H0z"/>  
</svg>
               </div>
            </div>
         </section>

         <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                   </button>
                </div>
                <!-- <form id="form" method="POST" action="/success"> -->
                <div class="modal-body">
                   <div class="scroll-modal">
                     <p id="modal-text"></p>
                   </div>
                     <div class="d-flex flex-column form-group">
                        
                        <input required class="form-control mb-3 h-100" name="name" placeholder="Name" type="text" pattern="[A-Za-z\s]+">
                        <input required class="form-control mb-3 h-100" name="email" placeholder="Email" type="email">
                        <input required class="form-control mb-3 h-100" name="phone" placeholder="Phone Number" type="text" pattern="[6-9]{1}[0-9]{9}">
                        <input required id="hidddenvalueforSub" name="cls" value="intermediate" type="hidden">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                     </div>
                  </div>
                  <div class="modal-footer">
                     <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                     <button class="btn btn-primary" type="submit" >Lets Join</button>
                  </div>
               </form>
              </div>
            </div>
          </div>
          <style>
             .scroll-modal{
               overflow-y: scroll; 
               height:300px;
               margin-bottom: 10px;
             }
             @media(max-width: 600px){
               .scroll-modal{
                  height:200px;
                }
             }
          </style>
          <section id="about" class="">
            <div class="container spacer-double-lg border-bottom">
               <div class="row justify-content-between align-items-center">
                  <div class="col-md-5 mb-5 mb-lg-0 text-center">
                     <img class="mb-4 max-width-9" src="assets/img/logo.png" alt="">
                     <div class="mb-4">
                        <span class="text-uppercase text-secondary font-secondary font-size-12">Aham Bramashmi</span>
                        <h1 class="mb-0">Athmakalin Sangamam</h1>
                        <img class=" max-width-4" src="assets/svg/title-line.svg" alt="">
                     </div>
                     <p class="mb-4" data-aos="fade-right">Athmakalin Sangama was started for the 7 souls who have been in a long day connected with me, who were ready to live and die with us along with my wife. The aim is, for the souls to live together in a blissful healthy way in one place, attain the enlightenment which is the noble purpose of life and to reach the state of Samadhi known as Arhant in one place altogether...</p>
                     <a href="/history" class="btn btn-secondary btn-sm">More</a>
                  </div>
                  <div class="col-md-6">
                     <div class="position-relative"  data-aos="fade-left">
                        <div class="w-100 shape-centered-nvh">
                           <figure class="random-shape" >
                              <svg version="1.1" width="100%"
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 921.6 655.9"
                                 enable-background="new 0 0 921.6 655.9" xml:space="preserve">
                                 <path fill="none" stroke="#FF7D7F" stroke-width="15" stroke-miterlimit="10" d="M792.4,64.1c17.4,14.7,33.2,31.2,47.4,49c2.2,2.7,4.3,5.5,6.4,8.3c1.3,1.7,2.5,3.4,3.7,5.1
                                    c0.8,1.1,1.6,2.2,2.4,3.3c57.1,82.2,75.8,185.1,51.3,282.1c-4,15.7-9.1,31.2-15.2,46.2c-0.9,2.3-1.9,4.6-2.9,6.8l0,0
                                    c-13.5,31-31.6,59.9-53.5,85.7c-3.1,3.7-6.3,7.3-9.5,10.7c-8.7,9.4-18,18.1-27.9,26.3c-121.4,99.7-286.4,58.9-449.2,2.5
                                    c-4-1.4-8-2.8-12-4.2c-1-0.3-1.9-0.7-2.9-1C-112,427.2-80,217.8,305.8,103.7C488.6,49.6,647.1-59.3,792.4,64.1z"/>
                              </svg>
                           </figure>
                        </div>
                        <div class="row gap" >
                           <div class="col-5 align-self-end  mb-2">
                              <img class="img-fluid w-100" src="assets/img/history_00_01.jpg" alt="">
                           </div>
                           <div class="col-7  mb-2">
                              <img class="img-fluid w-100" src="assets/img/history_00_02.jpg" alt="">
                           </div>
                           <div class="col-5 offset-1  mb-2 mb-lg-0">
                              <img class="img-fluid w-100" src="assets/img/history_00_03.jpg" alt="">
                           </div>
                           <div class="col-5 mb-2">
                              <img class="img-fluid w-100" src="assets/img/history_00_04.jpg" alt="">
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
                 
         <section id="Events">
            <div class="container mt-5">
               <div class="row">
                  <div class="col">
                     <div class="mb-5 pb-5 text-center">
                        <span class="text-uppercase text-secondary font-secondary font-size-12" data-aos="fade-left">The happenings</span>       
                        <h1 class="mb-0" data-aos="fade-right">Events</h1>
                        <div class="btn-group" role="group" aria-label="Basic example" data-aos="fade-left">
                           <a href="#Events" id="btamil" type="button" class="btn btn-secondary">Tamil</a>
                           <a href="#Events" id="benglish" type="button" class="btn btn-primary">English</a>
                        </div>
                        </div>
                  </div>
               </div>
            </div>
            <div class="container">
               <div class="row" id="english-event">
                  <% for(var i=0; i < data.length; i++) { %> 
                     <% if(data[i].lang=="English") { %> 
                        <div class="col-lg-3 col-md-4">
                           <div class="text-center ">
                                    <div class="card text-center m-1">
                                       <div class="card-body">
                                          <h5 class="card-title"><%= data[i].name %></h5>
                                          <p class="card-text"><%= data[i].desc.slice(0,40) %>...</p>
                                          <button onclick="change(`<%= data[i].name %>`,`<%= data[i].name %>`,`<%= data[i].desc %>`)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-backdrop="static" data-keyboard="false">Register</button>
                                          <p class="m-2" style="font-size: 12px;">Event Date : <%= data[i].date.toDateString() %></p>
                                       </div>
                                    </div>
                            </div>
                        </div>
                     <% } %>
                  <% } %>
                </div>
                <div class="row" style="display: none;" id="tamil-event">
                     <% for(var i=0; i < data.length; i++) { %> 
                        <% if(data[i].lang=="Tamil") { %> 
                        <div class="col-lg-3 col-md-4">
                           <div class="card text-center m-1">
                             <div class="card-body">
                               <h5 class="card-title"><%= data[i].name %></h5>
                               <p class="card-text"><%= data[i].desc.slice(0,40) %>...</p>
                               <button onclick="change(`<%= data[i].name %>`,`<%= data[i].name %>`,`<%= data[i].desc %>`)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-backdrop="static" data-keyboard="false">Register</button>
                             </div>
                           </div>
                        </div>
                        <% } %>
                     <% } %>
                </div>
            </div>
         </section>
         
         <script>
            function change(a,b,c){
               console.log('Work')
               document.getElementById('hidddenvalueforSub').value=a;
               document.getElementById('exampleModalLongTitle').innerHTML=' Register for '+b;
               document.getElementById('modal-text').innerHTML=c;
            }
         </script>
         <section id="services">
            <div class="container spacer-double-lg border-bottom">
               <div class="row">
                  <div class="col">
                     <div class="mb-5 pb-5 text-center">
                        <span class="text-uppercase text-secondary font-secondary font-size-12">What we teach</span>       
                        <h1 class="mb-0">Our Offerings</h1>
                        <img class=" max-width-4" src="assets/svg/title-line.svg" alt="">
                     </div>
                  </div>
               </div>
               <div class="row  justify-content-center">
                  <div class="col-md-12">
                     <div  class="services-steps nav  mx-auto mb-5 " role="tablist">
                        
                        <div class="service-step-item active show" data-toggle="tab" href="#tab-one" role="tab" aria-controls="tab-one" aria-selected="true">
                           <div class="service-step-icon-container text-muted">
                              <div class="service-step-icon ">
                                 <div class="service-step-icon-inner">
                                    <img class="disabled d-none" src="assets/svg/yoga-pose-6-active.svg" alt="">
                                    <img class="d-none enabled" src="assets/svg/yoga-pose-6.svg" alt="">
                                 </div>
                              </div>
                           </div>
                           <h5 class="service-step-title mb-4 mb-lg-0 text-muted">Meditation</h5>
                        </div> 
                         <div class="service-step-item " data-toggle="tab" href="#tab-four" role="tab" aria-controls="tab-four" aria-selected="false">
                           <div class="service-step-icon-container text-muted">
                              <div class="service-step-icon ">
                                 <div class="service-step-icon-inner"><img class=" disabled d-none" src="assets/svg/yoga-pose-10-active.svg" alt="">
                                    <img class="  d-none enabled" src="assets/svg/yoga-pose-10.svg" alt="">
                                 </div>
                              </div>
                           </div>
                           <h5 class="service-step-title mb-0 text-muted">Martial Arts</h5>
                        </div> 
                     </div>
                  </div>
               </div>
                
               <div class="tab-content mt-5 pt-5" data-aos="zoom-in-up">
                  <div id="tab-one" class="row align-items-lg-center tab-pane fade active show " role="tabpanel">
                     <div class="col-md-6 mb-4 mb-md-0">
                        <img class="img-fluid w-100" src="assets/img/meditation_women.jpg" alt="">
                     </div>
                     <div class="col-md-6 pl-lg-6">
                        <h2 class="text-lh-xs mb-4">Meditation <br class="d-none d-lg-inline-block"> Active and Passive</h2>
                        <p class="mb-5">Meditation is the means through which you give birth to yourself the new you, the delighted you, the blisssfull you.Learn the path of Enlightenment to open the gift inside you<br class="d-none d-lg-inline-block">தியானம் என்பது நீங்கள் உங்களைப் பெற்றெடுக்கும் புதிய, மகிழ்ச்சியான, ஆனந்தமான அனுபவம் . உங்களுக்குள் இருக்கும் பரிசைத் திறக்க அறிவொளியின் பாதையைக் கற்றுக் கொள்ளுங்கள்.  </p>

                        <a class="btn btn-sm btn-primary " href="/meds">Make an Appointment</a>
                     </div>
                  </div>
                   
                  <div id="tab-two" class="row align-items-lg-center tab-pane fade " role="tabpanel">
                     <div class="col-md-6 mb-4 mb-md-0">
                        <img class="img-fluid w-100" src="assets/img/3.jpg" alt="">
                     </div>
                     <div class="col-md-6 pl-lg-6">
                        <h2 class="text-lh-xs mb-4">Get ready to flow, breathe and sweat it out</h2>
                        <p class="mb-5">Mountain Pose is the base for all standing poses it gives you a sense of how to ground in to your feet and feel the earth below you. Mountain pose may seem like "simply standing," but there is a ton going on.</p>
                        <a class="btn btn-sm btn-primary " href="/meds">Make an Appointment</a>
                     </div>
                  </div>
                  <div id="tab-three" class="row align-items-lg-center tab-pane fade " role="tabpanel">
                     <div class="col-md-6 mb-4 mb-md-0">
                        <img class="img-fluid w-100" src="assets/img/4.jpg" alt="">
                     </div>
                     <div class="col-md-6 pl-lg-6">
                        <h2 class="text-lh-xs mb-4">Private Yoga Classes specially designed for your.</h2>
                        <p class="mb-5">Mountain Pose is the base for all standing poses it gives you a sense of how to ground in to your feet and feel the earth below you. Mountain pose may seem like "simply standing," but there is a ton going on.</p>
                         
                        <a class="btn btn-sm btn-primary " href="/meds">Make an Appointment</a>
                     </div>
                  </div>
            
                   <div id="tab-four" class="row align-items-lg-center tab-pane fade " role="tabpanel">
                     <div class="col-md-6 mb-4 mb-md-0">
                        <img class="img-fluid w-100" src="assets/img/karate.jpg" alt="">
                     </div>
                     <div class="col-md-6 pl-lg-6">
                        <h2 class="text-lh-xs mb-4">Martial-Arts</h2>
                        <p class="mb-5">Shivsangama (Athmakalinsangama) teaches various martial arts like
                           Chitoria and Shotokan karate,
                           Boxing,
                           Gymnastics,
                           taekwondo,
                           yoga,
                           Kobudo,
                              varma, etc
                           <br class="d-none d-lg-inline-block"> 
                           சிட்டோரியோ & சோட்டகான் கராத்தே,
                           சாவோலிங் குங்ஃபூ, சிலம்பம், ஜீடோ, பாக்சிங், ஜிம்ணாஸ்டிக் தேக்கோண்டா,
                           யோகா, கோபுடோ,வர்மம் போன்ற தற்காப்புகலை பயிற்சி களும் எங்களது ஆத்மாக்களின் சங்கமம் மூலமாக வழங்கப்படுகின்றன
                        </p>
                         
                        <a class="btn btn-sm btn-primary " href="/martial">Make an Appointment</a>
                     </div>
                  </div>
                   <div id="tab-five" class="row align-items-lg-center tab-pane fade " role="tabpanel">
                     <div class="col-md-6 mb-4 mb-md-0">
                        <img class="img-fluid w-100" src="assets/img/4.jpg" alt="">
                     </div>
                     <div class="col-md-6 pl-lg-6">
                        <h2 class="text-lh-xs mb-4">testing-01</h2>
                        <p class="mb-5">Mountain Pose is the base for all standing poses it gives you a sense of how to ground in to your feet and feel the earth below you. Mountain pose may seem like "simply standing," but there is a ton going on.</p>
                        <a class="btn btn-sm btn-primary " href="/martial">Make an Appointment</a>
                     </div>
                  </div>
                  <div id="tab-six" class="row align-items-lg-center tab-pane fade " role="tabpanel">
                     <div class="col-md-6 mb-4 mb-md-0">
                        <img class="img-fluid w-100" src="assets/img/4.jpg" alt="">
                     </div>
                     <div class="col-md-6 pl-lg-6">
                        <h2 class="text-lh-xs mb-4">testing-01</h2>
                        <p class="mb-5">Mountain Pose is the base for all standing poses it gives you a sense of how to ground in to your feet and feel the earth below you. Mountain pose may seem like "simply standing," but there is a ton going on.</p>
                        <a class="btn btn-sm btn-primary " href="/martial">Make an Appointment</a>
                     </div>
                  </div>
               </div>
            </div>
         </section>

         <section id="benefits">
            <div class="container spacer-double-lg border-bottom">
               <div class="row">
                  <div class="col">
                     <div class="mb-5 pb-5 text-center">
                        <!-- <span class="text-uppercase text-secondary font-secondary font-size-12">Free Yourself</span>        -->
                        <h1 class="mb-0">Our Mission</h1>
                        <img class=" max-width-4" src="assets/svg/title-line.svg" alt="">
                         <p>To make people live a blissful enlightened life by resurrecting the conciousnessness in them<br class="d-none d-lg-inline-block">Witness and Bliss are the two supremacy of life</p>                
                     </div>
                  </div>
               </div>
               <div class="row justify-content-lg-between align-items-center">
                  <div class="col-md-7 mb-5 mb-lg-0" data-aos="zoom-out-right">
                     <div class="position-relative">
                        <div  class="w-95 shape-centered-ncr">
                           <figure class="random-shape">
                              <svg version="1.1"
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 970.4 617.3"
                                 enable-background= "new 0 0 970.4 617.3;" xml:space="preserve">
                                 <path fill="none" stroke="#FF7D7F" stroke-width="15" stroke-miterlimit="10"  d="M569.9,75.8c353.7,20.6,677.8,68.1-15.4,459.4c-156.3,88.2-336.8,115.7-459.4-15.4S-20.6,183,110.5,60.4
                                    S390.7,65.3,569.9,75.8z"/>
                              </svg>
                           </figure>
                        </div>
                        <div class="row gap mb-9 mb-md-0" >
                           <div class="col-6 mb-2" >
                              <img class="img-fluid" src="assets/img/offset/colorful_child.jpg" alt="">
                           </div>
                           <div class="col-4 align-self-end mb-2" >
                              <img class="img-fluid" src="assets/img/offset/dance.jpg" alt="">
                           </div>
                           <div class="col-10 offset-2" >
                              <img class="img-fluid" src="assets/img/offset/children.jpg" alt="">
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-5 col-lg-4" data-aos="zoom-out-left">
                      <h1 class="mb-5 text-center">Our Vision</h1>
                     <div class="mr-n w-100">
                        <div class="media align-items-center mb-4 shadow p-1 radius-3 min-height-70" >
                           <span class="p-2 mr-3 ml-3">
                           <img class="img-fluid max-width-2" src="assets/svg/apple.svg" alt="">
                           </span>
                           <div class="media-body">
                              <span class="font-secondary font-size-17 text-secondary-2">To give the world the true essence</br>of spirituality</span>
                           </div>
                        </div>
                     </div>
                     <div class="media align-items-center mb-4 shadow p-1 radius-3 min-height-70" >
                        <span class=" p-2 mr-3 ml-3">
                        <img class="img-fluid max-width-2" src="assets/svg/lotus.svg" alt="">
                        </span>
                        <div class="media-body">
                            <span class="font-secondary font-size-17 text-secondary-2">Engage people to live/face all aspects of life with their true potential</span>
                        </div>
                     </div>
                     <div class="mr-n w-100">
                        <div class="media align-items-center mb-4 shadow p-1 radius-3 min-height-70" >
                           <span class=" p-2 mr-3 ml-3">
                           <img class="img-fluid max-width-2" src="assets/svg/orchid.svg" alt="">
                           </span>
                           <div class="media-body">
                              <span class="font-secondary font-size-17 text-secondary-2">To live with total involvement but zero attachment</span>
                           </div>
                        </div>
                     </div>
                     <div class="media align-items-center mb-4 shadow p-1 radius-3 min-height-70" >
                        <span class=" p-2 mr-3 ml-3">
                        <img class="img-fluid max-width-2" src="assets/svg/buddha.svg" alt="">
                        </span>
                        <div class="media-body">
                           <span class="font-secondary font-size-17 text-secondary-2">To gift people an ecstatic life</span>
                        </div>
                     </div>
                  </div>
               </div>
               
            </div>
         </section>
<!-- Change this section afterwards to showcase something related to athmakalin sangama -->
         <!-- <section id="poses">
            <div class="container spacer-double-lg border-bottom">
               <div class="row">
                  <div class="col">
                     <div class="mb-5 pb-5 text-center">
                        <span class="text-uppercase text-secondary font-secondary font-size-12">Basic yoga poses</span>       
                        <h1 class="mb-0">Yoga Positions</h1>
                        <img class=" max-width-4" src="assets/svg/title-line.svg" alt="">
                     </div>
                  </div>
               </div>
               <div class="row align-items-center justify-content-center">
                  <div class="col-lg-2 col-md-4" data-aos="flip-left">
                     <div class="yoga-pose-item ">
                        <div class="yoga-pose-icon-container text-muted">
                           <div class="yoga-pose-icon ">
                              <div class="yoga-pose-icon-inner">
                                 <img class="" src="assets/svg/yoga-pose-6.svg" alt="">
                              </div>
                           </div>
                        </div>
                        <h5 class="yoga-pose-title  mb-0">Baddha konasana</h5>
                     </div>
                  </div>
                  <div class="col-lg-2 col-md-4" data-aos="flip-left">
                     <div class="yoga-pose-item ">
                        <div class="yoga-pose-icon-container text-muted">
                           <div class="yoga-pose-icon ">
                              <div class="yoga-pose-icon-inner">
                                 <img class="" src="assets/svg/yoga-pose-7.svg" alt="">
                              </div>
                           </div>
                        </div>
                        <h5 class="yoga-pose-title  mb-0">Trikonasana </h5>
                     </div>
                  </div>
                  <div class="col-lg-2 col-md-4" data-aos="flip-left">
                     <div class="yoga-pose-item ">
                        <div class="yoga-pose-icon-container text-muted">
                           <div class="yoga-pose-icon ">
                              <div class="yoga-pose-icon-inner">
                                 <img class="" src="assets/svg/yoga-pose-8.svg" alt="">
                              </div>
                           </div>
                        </div>
                        <h5 class="yoga-pose-title  mb-0">Vrksasana</h5>
                     </div>
                  </div>
                  <div class="col-lg-2 col-md-4" data-aos="flip-left">
                     <div class="yoga-pose-item " >
                        <div class="yoga-pose-icon-container text-muted">
                           <div class="yoga-pose-icon ">
                              <div class="yoga-pose-icon-inner">
                                 <img class="" src="assets/svg/yoga-pose-9.svg" alt="">
                              </div>
                           </div>
                        </div>
                        <h5 class="yoga-pose-title  mb-0">Savasana</h5>
                     </div>
                  </div>
                  <div class="col-lg-2 col-md-4" data-aos="flip-left">
                     <div class="yoga-pose-item " >
                        <div class="yoga-pose-icon-container text-muted">
                           <div class="yoga-pose-icon ">
                              <div class="yoga-pose-icon-inner">
                                 <img class="" src="assets/svg/yoga-pose-10.svg" alt="">
                              </div>
                           </div>
                        </div>
                        <h5 class="yoga-pose-title mb-0">Kursiasana</h5>
                     </div>
                  </div>
               </div>
               <div class="row mt-4 pt-4 align-items-center justify-content-center">
                  <div class="col-lg-2 col-md-4" data-aos="flip-right">
                     <div class="yoga-pose-item " >
                        <div class="yoga-pose-icon-container text-muted">
                           <div class="yoga-pose-icon ">
                              <div class="yoga-pose-icon-inner">
                                 <img class="" src="assets/svg/yoga-pose-11.svg" alt="">
                              </div>
                           </div>
                        </div>
                        <h5 class="yoga-pose-title  mb-0"> Bhujangasana</h5>
                     </div>
                  </div>
                  <div class="col-lg-2 col-md-4" data-aos="flip-right">
                     <div class="yoga-pose-item " >
                        <div class="yoga-pose-icon-container text-muted">
                           <div class="yoga-pose-icon ">
                              <div class="yoga-pose-icon-inner">
                                 <img class="" src="assets/svg/yoga-pose-12.svg" alt="">
                              </div>
                           </div>
                        </div>
                        <h5 class="yoga-pose-title  mb-0">Tadasana</h5>
                     </div>
                  </div>
                  <div class="col-lg-2 col-md-4" data-aos="flip-right">
                     <div class="yoga-pose-item " >
                        <div class="yoga-pose-icon-container text-muted">
                           <div class="yoga-pose-icon ">
                              <div class="yoga-pose-icon-inner">
                                 <img class="" src="assets/svg/yoga-pose-13.svg" alt="">
                              </div>
                           </div>
                        </div>
                        <h5 class="yoga-pose-title  mb-0">Sukhasna</h5>
                     </div>
                  </div>
                  <div class="col-lg-2 col-md-4" data-aos="flip-right">
                     <div class="yoga-pose-item " >
                        <div class="yoga-pose-icon-container text-muted">
                           <div class="yoga-pose-icon ">
                              <div class="yoga-pose-icon-inner">
                                 <img class="" src="assets/svg/yoga-pose-14.svg" alt="">
                              </div>
                           </div>
                        </div>
                        <h5 class="yoga-pose-title  mb-0">Sanskrit</h5>
                     </div>
                  </div>
                  <div class="col-lg-2 col-md-4" data-aos="flip-right">
                     <div class="yoga-pose-item " >
                        <div class="yoga-pose-icon-container text-muted">
                           <div class="yoga-pose-icon ">
                              <div class="yoga-pose-icon-inner">
                                 <img class="" src="assets/svg/yoga-pos-2-active.svg" alt="">
                              </div>
                           </div>
                        </div>
                        <h5 class="yoga-pose-title mb-0">Uttanasana</h5>
                     </div>
                  </div>
               </div>
            </div>
         </section> -->
         <section id="trainer">
            <div class="container container spacer-double-lg">
               <div class="row">
                  <div class="col">
                     <div class="mb-5 pb-5 text-center">
                        <span class="text-uppercase text-secondary font-secondary font-size-12">the trainers</span>       
                        <h1 class="mb-0">Our Instructors</h1>
                        <img class=" max-width-4" src="assets/svg/title-line.svg" alt="">
                     </div>
                  </div>
               </div>
               <div class="row ">
                  <div class="col-sm-6">
                     <div class="row shrink">
                        <div class="col-lg-6 mb-5 mb-lg-0 text-center">
                           <img class="img-fluid " src="assets/img/deepan.jpg" alt="">
                        </div>
                        <div class="col-lg-6 d-sm-flex align-content-sm-start flex-sm-column text-center text-sm-left mb-5 mb-lg-0">
                              <h3 class="h5 mb-2">Deepan</h3>
                           <div class="d-inline-block">
                              <span class="badge badge-pill mb-3 bg-primary">Acharya</span>
                           </div>
                           <p>We focus on increasing your self-awareness and anandha to live a full satisfied life.</p>
                           <ul class="list-inline mt-auto mb-0">
                              <li class="list-inline-item mr-1">
                                 <a class="btn btn-social btn-icon btn-social-light" href="https://www.facebook.com/Dr.SriAnandhaAgasta/" target="_blank" tabindex="0">
                                 <span class="fab fa-facebook-f btn-icon-inner"></span>
                                 </a>
                              </li>
                              <li class="list-inline-item mr-1">
                                 <a class="btn btn-social btn-icon btn-social-light" href="mailto:athmakalinsangamam@gmail.com"  target="_blank" tabindex="0">
                                 <span class="fab fa-google btn-icon-inner"></span>
                                 </a>
                              </li>
                              <!-- <li class="list-inline-item mx-0">
                                 <a class="btn btn-social btn-icon btn-social-light" href="#" tabindex="0">
                                 <span class="fab fa-twitter btn-icon-inner"></span>
                                 </a>
                              </li> -->
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-6">
                     <div class="row shrink">
                        <div class="col-lg-6 mb-lg-0 text-center  text-center">
                           <img class="img-fluid" src="assets/img/meena_master.jpg" alt="">
                        </div>
                        <div class="col-lg-6 d-sm-flex align-content-sm-start flex-sm-column text-center text-sm-left mb-5 mb-lg-0">
                              <h3 class="h5 mb-2">Meena</h3>
                           <div class="d-inline-block">
                              <span class="badge badge-pill bg-primary mb-3">Acharya</span>
                           </div>
                           <p>With 20+ years of experience, I teach karate, silambam, gymnastics etc, I have trained 1000+ students every year.Glad to work with Athmakalin Sangama
                           </p>
                           <ul class="list-inline mt-auto mb-0">
                              <li class="list-inline-item mr-1">
                                  <a class="btn btn-social btn-icon btn-social-light" href="https://www.facebook.com/Dr.SriAnandhaAgasta/" target="_blank" tabindex="0">
                                 <span class="fab fa-facebook-f btn-icon-inner"></span>
                                 </a>
                              </li>
                              <li class="list-inline-item mr-1">
                                 <a class="btn btn-social btn-icon btn-social-light" href="mailto:athmakalinsangamam@gmail.com"  target="_blank" tabindex="0">
                                 <span class="fab fa-google btn-icon-inner"></span>
                                 </a>
                              </li>
                              <!-- <li class="list-inline-item mx-0">
                                 <a class="btn btn-social btn-icon btn-social-light" href="#" tabindex="0">
                                 <span class="fab fa-twitter btn-icon-inner"></span>
                                 </a>
                              </li> -->
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row mt-5 pt-5">
                  <div class="col-sm-6">
                     <div class="row shrink">
                        <div class="col-lg-6 mb-5 mb-lg-0  text-center">
                           <img class="img-fluid  " src="assets/img/saravanan_2.jpg" alt="">
                        </div>
                        <div class="col-lg-6 d-sm-flex align-content-sm-start flex-sm-column text-center text-sm-left mb-5 mb-lg-0">
                              <h3 class="h5 mb-2">Saravanan</h3>
                           <div class="d-inline-block">
                              <span class="badge badge-pill bg-primary mb-3">Acharya</span>
                           </div>
                           <p>I teach martial arts like karate and silambam, etc. I have recently trained students in Delhi for Republic day parade</p>
                           <ul class="list-inline mt-auto mb-0">
                              <li class="list-inline-item mr-1">
                                  <a class="btn btn-social btn-icon btn-social-light" href="https://www.facebook.com/Dr.SriAnandhaAgasta/" target="_blank" tabindex="0">
                                 <span class="fab fa-facebook-f btn-icon-inner"></span>
                                 </a>
                              </li>
                              <li class="list-inline-item mr-1">
                                 <a class="btn btn-social btn-icon btn-social-light" href="mailto:athmakalinsangamam@gmail.com"  target="_blank" tabindex="0">
                                 <span class="fab fa-google btn-icon-inner"></span>
                                 </a>
                              </li>
                              <!-- <li class="list-inline-item mx-0">
                                 <a class="btn btn-social btn-icon btn-social-light" href="#" tabindex="0">
                                 <span class="fab fa-twitter btn-icon-inner"></span>
                                 </a>
                              </li> -->
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-6">
                     <div class="row shrink">
                        <div class="col-lg-6   text-center">
                           <img class="img-fluid " src="assets/img/karpagam.jpg" alt=" ">
                        </div>
                        <div class="col-lg-6 d-sm-flex align-content-sm-start flex-sm-column text-center text-sm-left mb-5 mb-lg-0">
                              <h3 class="h5 mb-2">Karpagam</h3>
                           <div class="d-inline-block">
                              <span class="badge badge-pill bg-primary mb-3">Acharya</span>
                           </div>
                           <p> I teach meditation, to improve your self-Awareness and strengthen your Chakras</p>
                           <ul class="list-inline mt-auto mb-0">
                              <li class="list-inline-item mr-1">
                                  <a class="btn btn-social btn-icon btn-social-light" href="https://www.facebook.com/Dr.SriAnandhaAgasta/" target="_blank" tabindex="0">
                                 <span class="fab fa-facebook-f btn-icon-inner"></span>
                                 </a>
                              </li>
                              <li class="list-inline-item mr-1">
                                 <a class="btn btn-social btn-icon btn-social-light" href="mailto:athmakalinsangamam@gmail.com"  target="_blank" tabindex="0">
                                 <span class="fab fa-google btn-icon-inner"></span>
                                 </a>
                              </li>
                              <!-- <li class="list-inline-item mx-0">
                                 <a class="btn btn-social btn-icon btn-social-light" href="#" tabindex="0">
                                 <span class="fab fa-twitter btn-icon-inner"></span>
                                 </a>
                              </li> -->
                           </ul>
                        </div>
                     </div>
                  </div>

               </div>
               <div class="row mt-5 pt-5">
                  <div class="col-sm-6">
                     <div class="row shrink">
                        <div class="col-lg-6 mb-5 mb-lg-0  text-center">
                           <img class="img-fluid  " src="assets/img/sm_vignesh.jpg" alt="">
                        </div>
                        <div class="col-lg-6 d-sm-flex align-content-sm-start flex-sm-column text-center text-sm-left mb-5 mb-lg-0">
                              <h3 class="h5 mb-2">Sm Vignesh</h3>
                           <div class="d-inline-block">
                              <span class="badge badge-pill bg-primary mb-3">Acharya</span>
                           </div>
                           <p>I teach tantric techniques of the great master osho and other masters to enhance your relationship with your partner</p>
                           <ul class="list-inline mt-auto mb-0">
                              <li class="list-inline-item mr-1">
                                  <a class="btn btn-social btn-icon btn-social-light" href="https://www.facebook.com/Dr.SriAnandhaAgasta/" target="_blank" tabindex="0">
                                 <span class="fab fa-facebook-f btn-icon-inner"></span>
                                 </a>
                              </li>
                              <li class="list-inline-item mr-1">
                                 <a class="btn btn-social btn-icon btn-social-light" href="mailto:athmakalinsangamam@gmail.com"  target="_blank" tabindex="0">
                                 <span class="fab fa-google btn-icon-inner"></span>
                                 </a>
                              </li>
                              <!-- <li class="list-inline-item mx-0">
                                 <a class="btn btn-social btn-icon btn-social-light" href="#" tabindex="0">
                                 <span class="fab fa-twitter btn-icon-inner"></span>
                                 </a>
                              </li> -->
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-6">
                     <div class="row shrink">
                        <div class="col-lg-6   text-center">
                           <img class="img-fluid " src="assets/img/thendral.jpg" alt=" ">
                        </div>
                        <div class="col-lg-6 d-sm-flex align-content-sm-start flex-sm-column text-center text-sm-left mb-5 mb-lg-0">
                              <h3 class="h5 mb-2">Thendral</h3>
                           <div class="d-inline-block">
                              <span class="badge badge-pill bg-primary mb-3">Acharya</span>
                           </div>
                           <p>I teach tibetian yogam and Reiki, to enrich your pranic body, various Rieki symbols and to receive prana form Universe.</p>
                           <ul class="list-inline mt-auto mb-0">
                              <li class="list-inline-item mr-1">
                                  <a class="btn btn-social btn-icon btn-social-light" href="https://www.facebook.com/Dr.SriAnandhaAgasta/" target="_blank" tabindex="0">
                                 <span class="fab fa-facebook-f btn-icon-inner"></span>
                                 </a>
                              </li>
                              <li class="list-inline-item mr-1">
                                 <a class="btn btn-social btn-icon btn-social-light" href="mailto:athmakalinsangamam@gmail.com"  target="_blank" tabindex="0">
                                 <span class="fab fa-google btn-icon-inner"></span>
                                 </a>
                              </li>
                              <!-- <li class="list-inline-item mx-0">
                                 <a class="btn btn-social btn-icon btn-social-light" href="#" tabindex="0">
                                 <span class="fab fa-twitter btn-icon-inner"></span>
                                 </a>
                              </li> -->
                           </ul>
                        </div>
                     </div>
                  </div>
                  
               </div>
               <div class="row mt-5 pt-5">
                  <div class="col-sm-6">
                     <div class="row shrink">
                        <div class="col-lg-6 mb-5 mb-lg-0  text-center">
                           <img class="img-fluid  " src="assets/img/ranji.jpg" alt="">
                        </div>
                        <div class="col-lg-6 d-sm-flex align-content-sm-start flex-sm-column text-center text-sm-left mb-5 mb-lg-0">
                              <h3 class="h5 mb-2">Ranjith</h3>
                           <div class="d-inline-block">
                              <span class="badge badge-pill bg-primary mb-3">Acharya</span>
                           </div>
                           <p>I teach refined meditation practices to imporve your self-awareness and to live a happy blissful life </p>
                           <ul class="list-inline mt-auto mb-0">
                              <li class="list-inline-item mr-1">
                                  <a class="btn btn-social btn-icon btn-social-light" href="https://www.facebook.com/Dr.SriAnandhaAgasta/" target="_blank" tabindex="0">
                                 <span class="fab fa-facebook-f btn-icon-inner"></span>
                                 </a>
                              </li>
                              <li class="list-inline-item mr-1">
                                 <a class="btn btn-social btn-icon btn-social-light" href="mailto:athmakalinsangamam@gmail.com"  target="_blank" tabindex="0">
                                 <span class="fab fa-google btn-icon-inner"></span>
                                 </a>
                              </li>
                              <!-- <li class="list-inline-item mx-0">
                                 <a class="btn btn-social btn-icon btn-social-light" href="#" tabindex="0">
                                 <span class="fab fa-twitter btn-icon-inner"></span>
                                 </a>
                              </li> -->
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-6">
                     <div class="row shrink">
                        <div class="col-lg-6   text-center">
                           <img class="img-fluid " src="assets/img/tamilselvi.jpg" alt=" ">
                        </div>
                        <div class="col-lg-6 d-sm-flex align-content-sm-start flex-sm-column text-center text-sm-left mb-5 mb-lg-0">
                              <h3 class="h5 mb-2">Tamil Selvi</h3>
                           <div class="d-inline-block">
                              <span class="badge badge-pill bg-primary mb-3">Acharya</span>
                           </div>
                           <p>I teach Hara meditation and to receive energy from space that could energize your body and helps in a successful life</p>
                           <ul class="list-inline mt-auto mb-0">
                              <li class="list-inline-item mr-1">
                                  <a class="btn btn-social btn-icon btn-social-light" href="https://www.facebook.com/Dr.SriAnandhaAgasta/" target="_blank" tabindex="0">
                                 <span class="fab fa-facebook-f btn-icon-inner"></span>
                                 </a>
                              </li>
                              <li class="list-inline-item mr-1">
                                 <a class="btn btn-social btn-icon btn-social-light" href="mailto:athmakalinsangamam@gmail.com"  target="_blank" tabindex="0">
                                 <span class="fab fa-google btn-icon-inner"></span>
                                 </a>
                              </li>
                              <!-- <li class="list-inline-item mx-0">
                                 <a class="btn btn-social btn-icon btn-social-light" href="#" tabindex="0">
                                 <span class="fab fa-twitter btn-icon-inner"></span>
                                 </a>
                              </li> -->
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row mt-5 pt-5">
                  <div class="col-sm-6">
                     <div class="row shrink">
                        <div class="col-lg-6 mb-5 mb-lg-0  text-center">
                           <img class="img-fluid  " src="assets/img/lohit.jpg" alt="">
                        </div>
                        <div class="col-lg-6 d-sm-flex align-content-sm-start flex-sm-column text-center text-sm-left mb-5 mb-lg-0">
                              <h3 class="h5 mb-2">Lohit</h3>
                           <div class="d-inline-block">
                              <span class="badge badge-pill bg-primary mb-3">Acharya</span>
                           </div>
                           <p>Physical well-being is very important to lead a happy life. I teach Karate, silambam and gymnastics </p>
                           <ul class="list-inline mt-auto mb-0">
                              <li class="list-inline-item mr-1">
                                  <a class="btn btn-social btn-icon btn-social-light" href="https://www.facebook.com/Dr.SriAnandhaAgasta/" target="_blank" tabindex="0">
                                 <span class="fab fa-facebook-f btn-icon-inner"></span>
                                 </a>
                              </li>
                              <li class="list-inline-item mr-1">
                                 <a class="btn btn-social btn-icon btn-social-light" href="mailto:athmakalinsangamam@gmail.com"  target="_blank" tabindex="0">
                                 <span class="fab fa-google btn-icon-inner"></span>
                                 </a>
                              </li>
                              <!-- <li class="list-inline-item mx-0">
                                 <a class="btn btn-social btn-icon btn-social-light" href="#" tabindex="0">
                                 <span class="fab fa-twitter btn-icon-inner"></span>
                                 </a>
                              </li> -->
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-6">
                     <div class="row shrink">
                        <div class="col-lg-6   text-center">
                           <img class="img-fluid " src="assets/img/aadhi.jpg" alt=" ">
                        </div>
                        <div class="col-lg-6 d-sm-flex align-content-sm-start flex-sm-column text-center text-sm-left mb-5 mb-lg-0">
                              <h3 class="h5 mb-2">Aadhityan</h3>
                           <div class="d-inline-block">
                              <span class="badge badge-pill bg-primary mb-3">Acharya</span>
                           </div>
                           <p>Glad to be with Athmakalin Sangamam. I teach karate for physical fitness and self-defence</p>
                           <ul class="list-inline mt-auto mb-0">
                              <li class="list-inline-item mr-1">
                                  <a class="btn btn-social btn-icon btn-social-light" href="https://www.facebook.com/Dr.SriAnandhaAgasta/" target="_blank" tabindex="0">
                                 <span class="fab fa-facebook-f btn-icon-inner"></span>
                                 </a>
                              </li>
                              <li class="list-inline-item mr-1">
                                 <a class="btn btn-social btn-icon btn-social-light" href="mailto:athmakalinsangamam@gmail.com"  target="_blank" tabindex="0">
                                 <span class="fab fa-google btn-icon-inner"></span>
                                 </a>
                              </li>
                              <!-- <li class="list-inline-item mx-0">
                                 <a class="btn btn-social btn-icon btn-social-light" href="#" tabindex="0">
                                 <span class="fab fa-twitter btn-icon-inner"></span>
                                 </a>
                              </li> -->
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row mt-5 pt-5">
                  <div class="col-sm-6">
                     <div class="row shrink">
                        <div class="col-lg-6 mb-5 mb-lg-0  text-center">
                           <img class="img-fluid  " src="assets/img/arun.jpg" alt="">
                        </div>
                        <div class="col-lg-6 d-sm-flex align-content-sm-start flex-sm-column text-center text-sm-left mb-5 mb-lg-0">
                              <h3 class="h5 mb-2">Arun</h3>
                           <div class="d-inline-block">
                              <span class="badge badge-pill bg-primary mb-3">Acharya</span>
                           </div>
                           <p>I teach tibetian yogic techniques like Aura Reading and Healing, Distant healing and so on</p>
                           <ul class="list-inline mt-auto mb-0">
                              <li class="list-inline-item mr-1">
                                  <a class="btn btn-social btn-icon btn-social-light" href="https://www.facebook.com/Dr.SriAnandhaAgasta/" target="_blank" tabindex="0">
                                 <span class="fab fa-facebook-f btn-icon-inner"></span>
                                 </a>
                              </li>
                              <li class="list-inline-item mr-1">
                                 <a class="btn btn-social btn-icon btn-social-light" href="mailto:athmakalinsangamam@gmail.com"  target="_blank" tabindex="0">
                                 <span class="fab fa-google btn-icon-inner"></span>
                                 </a>
                              </li>
                              <!-- <li class="list-inline-item mx-0">
                                 <a class="btn btn-social btn-icon btn-social-light" href="#" tabindex="0">
                                 <span class="fab fa-twitter btn-icon-inner"></span>
                                 </a>
                              </li> -->
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-6">
                     <div class="row shrink">
                        <div class="col-lg-6  text-center">
                           <img class="img-fluid " src="assets/img/sanjay_1.jpg" alt=" ">
                        </div>
                        <div class="col-lg-6 d-sm-flex align-content-sm-start flex-sm-column text-center text-sm-left mb-5 mb-lg-0">
                              <h3 class="h5 mb-2">Sanjay</h3>
                           <div class="d-inline-block">
                              <span class="badge badge-pill bg-primary mb-3">Acharya</span>
                           </div>
                           <p>I teach meditation techniques, martial arts like silambam and karate, etc</p>
                           <ul class="list-inline mt-auto mb-0">
                              <li class="list-inline-item mr-1">
                                  <a class="btn btn-social btn-icon btn-social-light" href="https://www.facebook.com/Dr.SriAnandhaAgasta/" target="_blank" tabindex="0">
                                 <span class="fab fa-facebook-f btn-icon-inner"></span>
                                 </a>
                              </li>
                              <li class="list-inline-item mr-1">
                                 <a class="btn btn-social btn-icon btn-social-light" href="mailto:athmakalinsangamam@gmail.com"  target="_blank" tabindex="0">
                                 <span class="fab fa-google btn-icon-inner"></span>
                                 </a>
                              </li>
                              <!-- <li class="list-inline-item mx-0">
                                 <a class="btn btn-social btn-icon btn-social-light" href="#" tabindex="0">
                                 <span class="fab fa-twitter btn-icon-inner"></span>
                                 </a>
                              </li> -->
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
 
        
         <section id="stats" class="bg-primary spacer-double-sm">
            <div class="container">
               <div class="row">
                  <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                     <div class="media align-items-center">
                        <span class="p-2 mr-4">
                        <img class="max-width-3" src="assets/svg/orchid-white.svg" alt="">
                        </span>
                        <div class="media-body">
                           <h2 class="text-white">560</h2>
                           <h6 class="mb-0 text-white">Happy Customers</h6>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                     <div class="media align-items-center">
                        <span class="p-2 mr-4">
                        <img class="max-width-3" src="assets/svg/buddha-white.svg" alt="">
                        </span>
                        <div class="media-body">
                           <h2 class="text-white">30</h2>
                           <h6 class="mb-0 text-white">Experienced Trainer</h6>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                     <div class="media align-items-center">
                        <span class="p-2 mr-4">
                        <img class="max-width-3" src="assets/svg/buddha-white.svg" alt="">
                        </span>
                        <div class="media-body">
                           <h2 class="text-white">20</h2>
                           <h6 class="mb-0 text-white">Years of Experience</h6>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-6 ">
                     <div class="media align-items-center">
                        <span class="p-2 mr-4">
                        <img class="max-width-3" src="assets/svg/orchid-white.svg" alt="">
                        </span>
                        <div class="media-body">
                           <h2 class="text-white">40</h2>
                           <h6 class="mb-0 text-white">Classes of Yoga</h6>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <section id="appointment" class=" bg-white">
            <div class="container">
               <div class="row">
                  <div class="col-12 col-md-6" data-aos="zoom-out-right">
                     <img class=" d-md-none img-mobile" src="assets/img/10.jpg" alt="">
                     <div class="position-relative h-100 vw-50 float-right  d-none d-md-block">
                        <div class="w-100 h-100 ">
                           <img class="bg-image" src="assets/img/make_an_appointment.jpg" alt="">
                        </div>
                     </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-5 offset-lg-1 spacer-double-lg" data-aos="zoom-out-left">
                     <div class="mb-3 pb-3 text-center">
                        <span class="text-uppercase text-secondary font-secondary font-size-12">Contact us</span>       
                        <h1 class="mb-0">Make an Appointment</h1>
                        <img class=" max-width-4" src="assets/svg/title-line.svg" alt="">
                     </div>
                     <form id="form" method="POST" action="/success">
                        <div class="d-flex flex-column  form-group">
                           <input class="form-control mb-3 h-100" name="name" placeholder="Name" type="text" required pattern="[A-Za-z\s]+">
                           <input class="form-control mb-3 h-100" name="email" placeholder="Email" type="email" required>
                           <input class="form-control mb-3 h-100" name="phone" placeholder="Phone Number" type="text" pattern="[6-9]{1}[0-9]{9}" required>
                           <input class="form-control mb-3 h-100" name="cls"  placeholder="Iam Interested in Ex- Chakra Healing Meditation" required pattern="[A-Za-z\s]+">
                           <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                           <div class="text-center">
                              <button class="btn w-50 btn-primary" type="submit">
                              <span class="mn-top">Get an Appointment</span>
                              </button>
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </section>
         <section id="gallery" data-aos="zoom-in">
            <div class="container spacer-double-lg">
               <div class="row">
                  <div class="col">
                     <div class="mb-5 pb-5 text-center">
                        <span class="text-uppercase text-secondary font-secondary font-size-12">best moments</span>       
                        <h1 class="mb-0">Gallery</h1>
                        <img class=" max-width-4" src="assets/svg/title-line.svg" alt="">
                        <p class=" mb-0 pt-3 lead w-md-60 mx-auto">Time freeze of the most extraordinary moments of Athmakalin Sangama and their childrens
                           are here
                        </p>
                     </div>
                  </div>
               </div>
               <div  id="gallery-append" class="row gap">
                  <div class="col-md-4 col-md  mb-2">
                     <a class="venobox hover-effect d-block vbox-item" data-overlay="rgba(52,58,64,.6)" href="assets/img/11.jpg">
                        <span class="hover-effect-container">
                        <span class="hover-effect-icon ">
                        <span class=" fas fa-eye top-icon "></span>
                        </span>
                        </span>
                        <div class="gall gall-bg-img gall-1">
                        </div>
                     </a>
                  </div>
                  <script>
                  
                     fetch('/mini-gallery')
                     .then((res)=>{ return( res.json() ) })
                     .then((data)=>{
                        g=document.getElementById('gallery-append')
                        var text =""
                        for(i=0;i<data.data.length;i++){
                           text = text +'<div class="col-md-4 col-md mb-2"> <a class="venobox hover-effect d-block vbox-item" data-overlay="rgba(52,58,64,.6)" href="/gallery"> <span class="hover-effect-container"> <span class="hover-effect-icon "> <span class=" fas fa-eye top-icon "></span> </span> </span> <div style="background-image:url('+data.data[i]['image']+');" class="gall gall-bg-img gall-'+i+'"> </div> </a> </div>'
                        }
                        g.innerHTML  = text
                     })
                     
                  </script>
               </div>
               <div class="row">
                  <div class="col">
                     <div class="mt-5 pt-5 text-center"> 
                        <a class="mr-2 btn btn-primary btn-radius-bottom-left  mb-lg-0" href="/gallery">
                        View Gallery
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <section id="video-cover"  class="gradient-overlay gradient-overlay-dark video-cover" data-aos="zoom-in"> 
            <img class="bg-image" src="http://img.youtube.com/vi/xj2eiW_xlz4/mqdefault.jpg" alt="">
            <div class="container spacer-xlg z-index-2 position-relative">
               <div class="row justify-content-center text-center">
                  <div class="col-md-8 col-lg-6 ">
                     <a class="venobox play-but  mt-3" data-vbtype="video" data-overlay="rgba(52,58,64,.6)" href="https://youtu.be/xj2eiW_xlz4">
                        <span class="play-icon play-icon-md">
                           <span class="play-icon-inner">
                              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 158 178.4" enable-background="new 0 0 158 178.4;" xml:space="preserve">
                                 <polygon class="st0" points="147.8,89.2 5,169.8 5,8.6 147.8,89.2 "/>
                              </svg>
                           </span>
                        </span>
                     </a>
                     <h3 class="h5 text-white mt-3 mb-0">Athmakalin Sangama Meditation Camps</h3>
                     <span class="font-size-14 text-white">Click to play</span>
                  </div>
               </div>
            </div>
            
         </section>
         <section id="quotes" data-aos="zoom-in">
            <div class="container spacer-double-lg border-bottom">
               <div class="row">
                  <div class="col">
                     <div class="mb-5 pb-5 text-center">
                        <span class="text-uppercase text-secondary font-secondary font-size-12">Just Be</span>       
                        <h1 class="mb-0">Quotes</h1>
                        <img class=" max-width-4" src="assets/svg/title-line.svg" alt="">
                        <p class=" mb-0 pt-3 lead w-md-60 mx-auto">Scarcest and most renouned words from the life of enlightened masters and other life changing gurus 
                         </p>
                     </div>
                  </div>
               </div>
               <div  id="quotes-append" class="row gap">
                  <div class="col-md-4 col-md  mb-2">
                     <a class="venobox hover-effect d-block vbox-item" data-overlay="rgba(52,58,64,.6)" href="assets/img/11.jpg">
                        <span class="hover-effect-container">
                        <span class="hover-effect-icon ">
                        <span class=" fas fa-eye top-icon "></span>
                        </span>
                        </span>
                        <div class="gall gall-bg-img gall-1">
                        </div>
                     </a>
                  </div>
                  <script>
                  
                     fetch('/mini-quotes')
                     .then((res)=>{ return( res.json() ) })
                     .then((data)=>{
                        console.log(data)
                        g=document.getElementById('quotes-append')
                        var text =""
                        for(i=0;i<data.data.length;i++){
                           text = text +'<div class="col-md-4 col-md mb-2"> <a class="venobox hover-effect d-block vbox-item" data-overlay="rgba(52,58,64,.6)" href="/quotes"> <span class="hover-effect-container"> <span class="hover-effect-icon "> <span class=" fas fa-eye top-icon "></span> </span> </span> <div style="background-image:url('+data.data[i]['image']+');" class="gall gall-bg-img gall-'+i+'"> </div> </a> </div>'
                        }
                        g.innerHTML  = text
                     })
                     
                  </script>
               </div>
               <div class="row">
                  <div class="col">
                     <div class="mt-5 pt-5 text-center"> 
                        <a class="mr-2 btn btn-primary btn-radius-bottom-left  mb-lg-0" href="/quotes">
                        View Quotes
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </section>   
                
         <section id="testtimonials" data-aos="zoom-in">
            <div class="container spacer-double-lg border-bottom">
               <div class="row">
                  <div class="col">
                     <div class="mb-5 pb-5 text-center">
                        <span class="text-uppercase text-secondary font-secondary font-size-12">Testimonials</span>       
                        <h1 class="mb-0">What They Say</h1>
                        <img class=" max-width-4" src="assets/svg/title-line.svg" alt="">
                     </div>
                  </div>
               </div>
               <div class="row  align-items-center">
                  <div class="testimonial-carousel">
                  <div class="px-3  w-100 pt-5">
                     <div class="card border-0    bg-light">
                        <div class="card-body pr-5 pl-5 p5-3 pt-0 shadow radius-2">
                           <div class="testimonial-image">
                              <div class="testimonial-image-border">
                                 <img class="rounded-circle" src="assets/img/naveen.jpg" alt="Saravanan">
                              </div>
                           </div>
                           <p class=" mb-0 mt-2">“I was directionless in my life till I arrived at Athmakalin Sangamam. 
                              After attending many meditation classes, 
                              I got a hold of my life and now I am enjoying life to its full extent”
                           </p>
                        </div>
                        <div class="card-footer border-0  pt-0 px-5 pb-0 mt-3">
                           <span class="h6 font-base font-weight-600 mb-0">Naveen</span>
                           <small class="d-block text-muted">Sales Officer</small>
                        </div>
                     </div>
                  </div>
                  <div class="px-3  w-100 pt-5">
                     <div class="card border-0  bg-light">
                        <div class="card-body pr-5 pl-5 pb-5 pt-0 shadow radius-2">
                           <div class="testimonial-image">
                              <div class="testimonial-image-border">
                                 <img class="rounded-circle" src="assets/img/akshay.jpg" alt="/">
                              </div>
                           </div>
                           <p class=" mb-0 mt-2">"I attented vipasana class and it was very very useful, I am able to winess most thing in the most, Iwonder that this much is inside us. The Sermons you told were very very interesting and simple, very very useful. no words to thank you master
                           </p>
                        </div>
                        <div class="card-footer border-0  pt-0 px-5 pb-0  mt-3">
                           <span class="h6 font-base font-weight-600 mb-0">Akshay</span>
                           <small class="d-block text-muted">Student</small>
                        </div>
                     </div>
                  </div>
                  <div class="px-3  w-100 pt-5 ">
                     <div class="card border-0   bg-light">
                        <div class="card-body pr-5 pl-5 pb-5 pt-0 shadow radius-2">
                           <div class="testimonial-image">
                              <div class="testimonial-image-border">
                                 <img class="rounded-circle" src="assets/img/divakar.jpg" alt="/">
                              </div>
                           </div>
                           <p class=" mb-0 mt-2">First I felt a fear while doing dynamic meditation, Then the fear gone and I started to feel very free, I see a linga in front of me, Something unexplainable I went on dancing in joy... Thankyou </p>
                        </div>
                        <div class="card-footer border-0  pt-0 px-5 pb-0 mt-3">
                           <span class="h6 font-base font-weight-600 mb-0">Divakar</span>
                           <small class="d-block text-muted">IT Professional</small>
                        </div>
                     </div>
                  </div>
                  <div class="px-3 w-100 pt-5 pb-5">
                     <div class="card border-0   bg-light">
                        <div class="card-body pr-5 pl-5 pb-5 pt-0 shadow radius-2">
                           <div class="testimonial-image">
                              <div class="testimonial-image-border">
                                 <img class="rounded-circle" src="assets/img/saravanan_anandha.png" alt="/">
                              </div>
                           </div>
                           <p class=" mb-0 mt-2">The  anandha which I felt from guru Sri Anandha Agasta was unforgetable and I have travelled across for many gurus all around but I found no one telling the exact truth. Thankyou very very much. you are like my mother.
                           </p>
                        </div>
                        <div class="card-footer border-0  pt-0 px-5 pb-0  mt-3">
                           <span class="h6 font-base font-weight-600 mb-0">Saravanan</span>
                           <small class="d-block text-muted">Farmer</small>
                        </div>
                     </div>
                  </div>
               </div>
               </div>
            </div>
         </section>

         
         <section id="news" data-aos="zoom-in">
            <div class="container spacer-double-lg">
               <div class="row">
                  <div class="col">
                     <div class="mb-5 pb-5 text-center">
                        <span class="text-uppercase text-secondary font-secondary font-size-12">from the blog</span>       
                        <h1 class="mb-0">Latest Posts &amp; Articles</h1>
                        <img class=" max-width-4" src="assets/svg/title-line.svg" alt="">
                        <p class=" mb-0 pt-3 lead w-md-60 mx-auto">We bring you articles on various topis like osho, medicine, life, kundalini, siddhars and much more
                        </p>
                     </div>
                  </div>
               </div>
               <div id='blog-append' class="row">
                  <script>
                  
                     fetch('/mini-blog')
                     .then((res)=>{ return( res.json() ) })
                     .then((data)=>{
                        g=document.getElementById('blog-append')
                        var text =""
                        for(i=0;i<data.data.length;i++){
                           text = text +'<a href="/fullblog-'+data.data[i]['_id']+'"> <div class="col-md-6 col-lg-4 mb-5 mb-lg-0"> <article class="card shadow radius-2 bg-light border-0 h-100 pt-3"> <div class="p-5"> <div class="post-img position-relative"> <div class="post-img-border"> <img class="card-img-top" src='+data.data[i]['image']+' alt=""> </div> </div> </div> <div class="card-body pt-3"> <div class="d-flex justify-content-between mb-3"> <div class="small d-flex"> <div class="mr-2"> <a href="#">'+data.data[i]['related']+'</a> </div> </div> <span class="badge bg-primary text-white font-base"> '+ new Date(Date.parse(data.data[i]['date'])).toDateString( )+' </span> </div> <h2 class="h5 "> <a href="#"> '+data.data[i]['title']+'</a> </h2> '+data.data[i]['desc'].slice(0,100)+'... </div> </article> </div> </a>'
                        }
                        g.innerHTML  = text
                     })
                     
                  </script>
                  
               </div>
               <div class="row">
                  <div class="col">
                     <div class="mt-5 pt-5 text-center"> 
                        <div >
                           <a href="/blogs-ln=Tamil"   type="button" class="btn btn-primary">Tamil Articles</a>
                           <a href="/blogs-ln=English" type="button" class="btn btn-primary">English Articles</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section> 
         <footer class="footer bg-primary-2 o-hidden">
            <div itemscope itemtype="http://schema.org/LocalBusiness" class="curved-decoration ">
               <div class="decoration-top top-n1">
                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 800 43.2" enable-background="new 0 0 800 43.2;" xml:space="preserve">

<path fill="#f3f5f8" d="M0,43.1v-4.8c0,0,187.9-30,400-3S800,0,800,0v43.1H0z"></path>
<path fill="#f3f5f8" opacity="0.3" d="M0,43V18.7c0,0,131.8-13.9,269.2,20.9C407.2,60,600.3-13.9,800,27.8V43H0z"></path>
</svg>
               </div>
            </div>
            <div class="container spacer-one-bottom-lg1 spacer-xl-top1 pt-3 pb-3">
                
               <div class="row align-items-md-center">
                  <div class="col-md-3 mb-2 mt-5 mb-md-0 text-center">
                     <div class="col mb-6 mt-6 mt-lg-0">
                        <img class=" max-width-9 opacity-3" src="assets/img/Logo.png" alt="Logo">
                     </div>
                  </div>
                  <div class="col-md-3 text-center mb-3">
                     To make people live a blissful enlightened life by resurrecting the conciousness in them
                  </div>
                  <div class="col-md-3 col-sm-6 mb-4 mb-sm-0">
                     <div class="text-center">
                        <address itemscope itemtype="http://schema.org/PostalAddress" itemprop="address">
                           <div class="text-center">
                              <p class="font-size-13  mb-0 text-light"><span itemprop="name" class="text-muted">Athmakalin Sangamam,
                                 <br></span> <span itemprop="addressLocality">Kolli hills.</span>
                              </p>
                           </div>
                        </address>
                        <p class="font-size-13  mb-0 text-light"><span class="text-muted">
                           <a href="tel:+919940953204"> <span itemprop="telephone" content="+919940953204">994 09 53204</span></a> , <a href="tel:+916374575616">637 45 75616</a>
                        </p>
                     </div>
                      
                  </div>
                  <div class="col-md-3 col-sm-6 text-center">
                     <ul class="list-inline text-sm-right mb-0 font-size-14 mn-top">
                        <li class="list-inline-item mr-1">
                           <a class="btn btn-social btn-icon btn-social-dark" target="_blank" href="https://www.facebook.com/ஆத்மாக்களின்-சங்கமம்-The-Conflience-of-Souls-100309278331675">
                           <span class="fab fa-facebook-f btn-icon-inner"></span>
                           </a>
                        </li>
                        <li class="list-inline-item mr-1">
                           <a class="btn btn-social btn-icon btn-social-dark" target="_blank" href="https://chat.whatsapp.com/Hk5u6uImjaJL8QV4nr0kMg">
                           <span class="fab fa-whatsapp btn-icon-inner"></span>
                           </a>
                        </li>
                        <li class="list-inline-item mr-1">
                           <a class="btn btn-social btn-icon btn-social-dark" target="_blank" href="https://www.youtube.com/channel/UCVf4ERL515GI2d4QN1r27QQ">
                           <span class="fab fa-youtube btn-icon-inner"></span>
                           </a>
                        </li><br><br>
                        <li class="list-inline-item mr-1">
                           <a class="btn btn-social btn-icon btn-social-dark" target="_blank" href="https://instagram.com/athmakalin_sangamam?igshid=yh2vmclhmpzs">
                           <span class="fab fa-instagram btn-icon-inner"></span>
                           </a>
                        </li>
                        <li class="list-inline-item mr-1">
                           <a class="btn btn-social btn-icon btn-social-dark" target="_blank" href="https://www.twitter.com/athmakalinsang1">
                           <span class="fab fa-twitter btn-icon-inner"></span>
                           </a>
                        </li>
                        <li class="list-inline-item mx-0">
                           <a class="btn btn-social btn-icon btn-social-dark" target="_blank" href="http://t.me/Athmakalin_Sangamam">
                           <span class="fab fa-telegram btn-icon-inner"></span>
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="row mt-2 justify-content-center ">
                  <div class="col-lg-3 col-sm-5 text-center">
                     <p class="font-size-11 text-muted mb-0">Designed by <a class="text-light" href="https://www.codestormx.in">Codestormx</a>
                        
                     </p>
                  </div>
               </div>
            </div>
         </footer>
         <a class="scroll-to-top  scroll active" href="#wrapper"><span class=" fas fa-arrow-up top-icon "></span></a>
         <!-- End to the top -->
      </div>


      <!-- End wrapper-->
      <!--Javascript-->
      <script src="js/jquery-1.12.4.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/smooth-scroll.js"></script>
      <script src="js/venobox.js"></script>
      <script src="js/owl.carousel.js"></script>
      <script src="js/jarallax.min.js"></script>
      <script src="js/jarallax-element.min.js"></script>
      <script src="js/placeholders.min.js"></script>
      <script src="js/instafeed.min.js"></script>
      <script src="js/script.js"></script>
      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
      <script>
         AOS.init();
       </script>
       <script>
         $(document).ready(function(){
            $("#btamil").click(function(){
              $("#english-event").hide();
              $("#tamil-event").show();
              
              $("#btamil").removeClass("btn-secondary");
              $("#benglish").removeClass("btn-primary");

              $("#btamil").addClass("btn-primary");
              $("#benglish").addClass("btn-secondary");

            });
            $("#benglish").click(function(){
               $("#english-event").show();
               $("#tamil-event").hide();
                             
              $("#btamil").removeClass("btn-primary");
              $("#benglish").removeClass("btn-secondary");
              
              $("#btamil").addClass("btn-secondary");
              $("#benglish").addClass("btn-primary");

             });

          });


         function evt(){
            document.getElementById("english-event").style.display="none";
            document.getElementById("tamil-event").style.display="block";
         }
         function eve(){
            document.getElementById("english-event").style.display="block";
            document.getElementById("tamil-event").style.display="none";
         }
      </script>
      <!-- Google analytics -->
      <!-- End google analytics -->
   </body>
</html>